<!-- View for creating a new `Post` -->
<!-- See http://guides.rubyonrails.org/form_helpers.html#dealing-with-basic-forms for more information -->
<div class="container">
  <div class="col-sm-12 blog-main">
  
    <h3 class="create-head">Create a New Post</h3>

    <%= form_for(@post) do |f| %>
      <div class="form-group">
        <p>
          <%= f.label :title, class: "create-title" %><br />
          <%= f.text_field :title, class: "form-control" %>
        </p>
        <p>
          <%= f.label :body, class: "create-title" %><br />
          <%= f.text_area :body, class: "form-control create-rows" %>
        </p>
        <p>
          <!-- create redirects to single-`Post` view, see post controller -->
          <%= f.submit 'Create Post', class: "btn btn-default submit-btn" %>
        </p>
      </div>
    <% end %>

  </div>
</div>

