<!-- View for showing a single `Post` -->
<div class="container">
  <div class="col-sm-12 blog-main">

    <div class="one-blog-post">
    
      <h2 class="one-blog-post-title"><%= @post.title %></h2>
      <p class="one-blog-post-body"><%= @post.body %></p>
      <div class="btn btn-default submit-btn"><%= link_to "Delete Post", post_path(@post), method: :delete %></div>
      <div class="btn btn-default submit-btn"><%= link_to "Back to All Posts", posts_path %></div>

      <hr>

      <h3 class="comment-title">Comments (<%= @post.comments.size %>)</h3>

      <hr>

      <!-- render the comments assoc'd with this post -->
      <!-- expects app/views/posts/_comment.html.erb -->
      <%= render partial: 'posts/comment', collection: @post.comments %>
      
      <!-- render a form for posting a new comment -->
      <!-- expects app/views/comments/_form.html.erb -->
      <%= render partial: 'comments/form' %>

    </div>
    
  </div>
</div>
