<!-- Top-level app view -->
<!DOCTYPE html>
<html>
  <head>
    <title>JuniorCodingChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- render the header w/navbar -->
    <!-- expects app/views/layouts/_header.html.erb -->
    <%= render partial: 'layouts/header' %>

    <!-- where remaining content will be inserted -->
    <%= yield %>
  </body>
</html>
