<!DOCTYPE html>
<html>
  <head>
    <title>JuniorCodingChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Create a New Post", new_post_path, class: "new_post" %>
    
    <!-- yield tag - where content from the view should be inserted -->
    <%= yield %>
  </body>
</html>
