<!-- Layouts wrap multiple views --> 
<!DOCTYPE html>
<html>
  <head>
    <title>JuniorCodingChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>

    <!-- output our various notices upon user action -->
    <p class="flash"><%= flash.notice %></p>

    <!-- yield tag - where content from the view should be inserted -->
    <%= yield %>
  </body>
</html>
